.field {
  position: inherit; 
  margin: 0 auto;
  height: 100%;
  text-align: center;
  width: 100%;
  color: #FFFFFF;
}

h2 {
  color: #FFFFFF;
  display: block;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}


input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
 position: inherit; 
 align-items: flex-start;
 text-align: center;
 cursor: default;
 color: #434851;
 background-color: buttonface;
 box-sizing: border-box;
 padding: 2px 6px 3px;
 border-width: 2px;
 border-style: outset;
 border-color: white;
 border-image: initial;
}

div { text-align : center ; }

