h1{
  font-size: 20px;
  color: #FFFFFF;
  font-family: sans-serif;
  padding: 0;
}

a:-webkit-any-link {
    color: gray;
    // color: -webkit-link;
    cursor: auto;
    text-decoration: none;

}
h2{
  font-size: 18px;
  color: #FFFFFF;
  padding: 0;
}

label {
  margin-left: 0px;
  color: white;
}

.wrap {
  margin-left: 20px;
}

.file input{
  display:none;
  color: white;
}


input[type="file" i] {
    align-items: baseline;
    color: white;
    text-align: start;
}

